*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(145deg, rgb(212, 143, 15), rgb(171, 63, 171), rgb(50, 50, 158));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1{
    text-align: center;
    padding: 10px;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divInside>button{
    padding: 10px;
    width: 70px;
    border-radius: 20px;
    border: none;
    background-color: rgb(156, 212, 134);
    box-shadow: 2px 2px 2px rgb(74, 44, 194);
}

input{
    margin-right: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

input:focus{
    outline: none;
}

li{
    font-size: 20px;
    height: 50px;
    text-transform: capitalize;
}

ol{
    padding: 16px;
    margin: 16px;
    position: relative;
}

.dltBtn{
    padding: 10px;
    position: absolute;
    right: 20px;
    width: 70px;
    border-radius: 20px;
    border: none;
    background-color: rgb(209, 212, 134);
    box-shadow: 2px 2px 2px rgb(74, 44, 194);
}

.editBtn{
    padding: 10px;
    position: absolute;
    right: 100px;
    width: 70px;
    border-radius: 20px;
    border: none;
    background-color: rgb(209, 212, 134);
    box-shadow: 2px 2px 2px rgb(74, 44, 194);
}

.okBtn{
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 50px;
    background-color: rgb(209, 212, 134);
    box-shadow: 2px 2px 2px rgb(74, 44, 194);
}

@media (max-width: 460px) {
    .div1{
        flex-direction: column;
        gap: 10px;
    }
    #input{
        width: 200px !important;
    }
}
